<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Predict Stock Prices</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/felipery03">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron" id="jumbo">
    <div class="container" ></div>
        <h1 class="text-center">Stock Price Predictor</h1>
        <p class="text-center">Forecasting brazilian stock prices</p>
    </div>
</div>
<div class="container">
    <!-- Choose train params -->
    {% block train %}
    <div class="row">
        <form action="/query" method="get" id="trainModels">
            <div class="col-xs-6">
                <h3 class="text-center">Select Tickers to analyze</h3>
                <div class="well" style="max-height: 300px;overflow: auto;">
                    <ul class="list-group list-group-flush">

                    {% for symbol in symbols%}
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check{{loop.index}}" name="check{{loop.index}}">
                            <label class="custom-control-label" for="check{{loop.index}}">{{symbol}}</label>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <h3 class="text-center">Select train period</h3>
                <div class="col-xs-6">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Start date*</label>
                        <input class="form-control" type="date" value="2020-09-01" id="start-date" name="start-date">
                    </div> 
                    * Select a workday <br>
                    ** Select a workday later than start date
                </div>
                <div class="col-xs-6">
                    <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">End date**</label>
                        <input class="form-control" type="date" value="2020-11-30" id="end-date" name="end-date">
                    </div> 
                <button type="submit" id="trainButton" class="btn btn-lg btn-success pull-right" onclick="loadingfunc()">
                        Train model
                </button>
            </div>
            <!-- Disable button and train model -->
            <script>
               function loadingfunc(){
                document.getElementById("trainButton").disabled = true
                document.getElementById("trainButton").innerHTML = "Loading..."
                $( "#trainModels" ).submit();
                }
            </script>           
            </div>
        </form>
    </div>
    {% endblock %}
</div>        
<div class="container">
    {% block pred %}
    {% endblock %}
    {% block results %}
    {% endblock %}
</div>
</body>
</html>
