{% extends "query.html" %}
{% block title %}Results{% endblock %}
{% block train %}
{% endblock %}
{% block results %}
        <div class="col-xs-6">
            <!-- Table results -->
            <table class="table" id=table>
                <thead>
                  <tr>
                    <th scope="col">Pred date</th>
                    <th scope="col">Curr price (R$)</th>
                    <th scope="col">Pred price (R$)</th>
                    <th scope="col">Price var (%)</th>
                    <th scope="col">Pred error (%)</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{results['pred_date']}}</td>
                        <td>{{results['current_price']}}</td>
                        <td>{{results['pred_price']}}</td>
                        <td>{{results['price_var']}}</td>
                        <td>{{results['mae_test_pct']}}</td>
                    </tr>
                </tbody>
            </table>
            <div id="graph"></div> 
        </div>
    </div>
    <!-- Render plot result -->
    <script type="text/javascript">
        const graphs = {{graphJSON | safe}};
        Plotly.plot("graph", graphs.data, graphs.layout);
    </script>
    {% endblock %}
  




