{% extends "master.html" %}
{% block title %}Results{% endblock %}
{% block train %}
{% endblock %}
<!-- Choose pred params -->
{% block pred %}
<div class="row">      
    <div class="col-xs-6">
        <form action="/predict" method="get"> 
        <div class="well" style="max-height: 350px;overflow: auto;">
            <div class="form-group row">
                <label for="date-input" class="col-2 col-form-label">Forecast date:</label>
                <input class="form-control" type="date" value="2020-12-01" id="forecast-date" name="forecast-date">
            
            <label for="example-date-input" class="col-2 col-form-label">Ticker:</label>
            <select class="form-control form-control-sm" name="symbol" style="width:auto;">
                {% for symbol in session['checked_symbols']%}
                    <option value="{{symbol}}">{{symbol}}</option>
                {% endfor %}
            </select>  
            <label for="example-date-input" class="col-2 col-form-label">Target:</label>
            <select class="form-control form-control-sm" name="target" style="width:auto;" >
                <option selected value="1_day">1 day</option>
                <option value="1_week">1 week</option>
                <option value="2_weeks">2 weeks</option>
                <option value="1_month">1 month</option>
            </select>
            <button type="submit" class="btn btn-lg btn-success pull-right pull-down">
                Forecast
            </button>
            </div> 
        </div>
    </div>
{% endblock %}
{% block results %}
</div>
{% endblock %}
